body {
  background-image: url("../static/bott.jpg");
  
}
  .contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    padding: 20px 30px;
    
    
    max-width: 700px;
    background-color: rgb(147 192 243 / 75%);
    border-radius: 30px;
    position: absolute;
    top: 190px;
    left: 25%;
    width: 50%;
  }
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
   
  }
  .contact-form .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

  }
  
  .contact-form .description {
    font-weight: bolder;
    color: #284F84;
    font-size: 18px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 0px;
    background-color: #7AD7F0;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .h5{
    font-size: 25px;
  }
  