body {
  background-image: url("../static/bott.jpg");
  background-repeat: no-repeat;
  width: 100%;
}
  .contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    margin-right: 5px;
    margin-left: 5px;
    max-width: 530px;
    background-color: rgb(147 192 243 / 75%);
    border-radius: 30px;
    position: absolute;
    top: 200px;
  }
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
   
  }
  .contact-form .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;

  }
  
  .contact-form .description {
    font-weight: bolder;
    color: #284F84;
    font-size: 18px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 0px;
    background-color: #7AD7F0;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .h5{
    font-size: 25px;
    margin-top: 10px;
  }
  
  .container{
    height: 55px;
  }