h2{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content{
    width: 700px;
    min-height:500px;
    border: 1px solid #121B46;;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 25.6%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
    box-shadow:  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F8F8F8;
}
.content h3 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content p{
    font-size: 0.9rem;
     font-family: Arial, Helvetica, sans-serif;
}

.list-name{
    text-align: center;
    margin-top: 80px;
}
    
.question-box{
    width: 740px;
    border: 1px solid rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin-left: 390px;
    padding-left: 20px;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.question-box p{
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.answer-box{
    width: 740px;
    border: 1px solid rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 390px;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.answer-box{
     font-size: 0.9rem;
     font-family: monospace;
}
