.navbar {
    background-color: rgb(35, 80, 106);
    margin-right: 3px;
    margin-right: 3px;
}
.navbar-brand{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    color: #ffffff;
    text-decoration:solid;
    background-color: transparent;
}
.drop-zone {
    max-width: 400px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 3px dashed #4640b9;
    border-radius: 10px;
    position: relative;
    left: 23%;
    right: 50%;
    background-color: rgba(213, 235, 255, 0.658);
  }
  .image{
    height: 50px;
    width: 50px;
    position: absolute;
    top:90px;
  }
  .drop-zone__prompt{
    color: black;
  }
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  .display {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 9999px;
    overflow: hidden;
}

#upload {
    display: none;
}

label {
    background: rgb(72, 120, 170);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
/* uploaded image */
/*img{
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }*/

.carousel-caption {
    background-color: rgb(147 192 243 / 75%);
    border-radius: 30px;
    position: absolute;
    bottom: 100px;
    left: 25%;
    width: 50%;
}

.btn-primary {
    border-color: blue;
    background-color: rgb(72, 120, 170);
    color: #fff;
    background-color: #4080c3;
    border-color: #0553a2;
    display: inline;
    margin-left: 2px;
}

.navbar-item {
    padding: 200px;
}

.carousel-control-prev-icon {
    border-radius: 30px;
    background-color: rgb(163, 195, 231, 0.5);
}

.carousel-control-next-icon {
    border-radius: 30px;
    background-color: rgb(163, 195, 231, 0.9);
}